/*=========================================
Site-wide Styles
http://kuler.adobe.com/#themeID/15325
=========================================*/
body
{
    background-color: #002F2F;
     font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;}

h1
{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: capitalize;
}

h2
{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h3
{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h4
{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a
{
    color: #046380;
    text-decoration:none;
}

a :hover
{
    color: #012834;
}

div
{
}

p
{
}

.Message
{
    color: Red;
    font-weight: bold;
}

.BodyWrapper
{
    width: 800px;
    padding: 10px;
    padding-left: 100px;
    background-color: White;
    border: 2px solid #A7A37E;
    margin: 10px auto 10px auto;
}

/*=========================================
Default.aspx Styles
=========================================*/
/*-----------------------------------------
Default News Styles
-----------------------------------------*/
/*Wraps each news item on the front page*/
.DefaultNewsWrap
{
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #046380
}

/*The Title of each news item on the front page*/
.DefaultNewsTitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 18pt;
    font-weight: bold;
    text-transform: capitalize;
}

.DefaultNewsSubTitle
{
    font-style: italic;
    background-color: #EFECCA
}

/*The body of each news item on the front page*/
.DefaultNewsBody
{
    
}
/*-----------------------------------------
Default.aspx Styles for editing the page
-----------------------------------------*/
/*This wraps the Title Text box on the edit Default.aspx page*/
.DefaultEditTitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 22px;
    font-weight: bold;
    border: 5px solid #ddd;
    padding: 10px;
    width: 80%;
}

/*This wraps the Body textbox on the edit Default.aspx page*/
.EditDefaultBody
{
    padding: 10px;
    border: 5px solid #ddd;
    width: 80%;
    height: 350px;
}

/*This wraps the Header textbox on the edit Default.aspx page*/
.EditDefaultHeader
{
    padding: 10px;
    border: 5px solid #ddd;
    width: 80%;
    height: 150px;
}

.EditDefaultUploadLinks
{

}

.EditDefaultAdminButtons
{

}

/*=========================================
News.aspx Styles
=========================================*/
/*The News Page's Title at the top of the page*/
.NewsTitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 22px;
}

.NewsAdminButtons
{
}

.NewsBody
{
}

.NewsDateAutor
{
}
/*=========================================
EditNews.aspx Styles
=========================================*/
/*The News Page's Title at the top of the page*/
.EditNewsTitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 22px;
    font-weight: bold;
    border: 5px solid #ddd;
    padding: 10px;
    width: 80%;
}

/*Things like the markdown links and upload files link*/
.EditNewsAdminButtons
{
}


.EditNewsUploadLinks
{
    width: 80%;
}

.EditNewsBody
{
    padding: 10px;
    border: 5px solid #ddd;
    width: 80%;
    height: 350px;
}


/*=========================================
Edit.aspx Styles
=========================================*/
.EditPageTitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 22px;
    font-weight: bold;
    border: 5px solid #ddd;
    padding: 10px;
    width: 80%;
}

.EditPageSubtitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 18px;
    font-weight: bold;
    border: 5px solid #ddd;
    padding: 10px;
    width: 80%;
}

.EditPageURL
{
}

.EditUploadLinks
{
}

.EditPageBody
{
    padding: 10px;
    border: 5px solid #ddd;
    width: 80%;
    height: 350px;
}

/*=========================================
Show.aspx Styles
=========================================*/
.PageTitle
{
}

.PageSubTitle
{
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-size: 18px;
    font-weight: bold;
}

.PageBody
{
}

.PageFooter
{
}