<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TLWebsite2011.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
		<httpRuntime
   requestValidationMode="2.0"
      executionTimeout="1200"
      maxRequestLength="102400" />
		<pages validateRequest="false" enableEventValidation="false"></pages>
    </system.web>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=TL_CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
 <applicationSettings>
  <TLWebsite2011.Properties.Settings>
   <setting name="UsernameRegex" serializeAs="String">
    <value>^[a-zA-Z0-9_\.\-]{3,}$</value>
   </setting>
   <setting name="UsernameFailedMatchMessage" serializeAs="String">
    <value>Usernames must be greater than three characters and only contain only a-z 0-9, _, -, .</value>
   </setting>
   <setting name="emailRegex" serializeAs="String">
    <value>^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$</value>
   </setting>
   <setting name="EmailFailedMatchMessage" serializeAs="String">
    <value>The e-mail address you entered doesn't seem to be valid.</value>
   </setting>
   <setting name="emailUser" serializeAs="String">
    <value>support</value>
   </setting>
   <setting name="emailPass" serializeAs="String">
    <value>examplePass</value>
   </setting>
   <setting name="SendWelcomeMail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CurrentDomain" serializeAs="String">
    <value>http://technicallylearning.org</value>
   </setting>
   <setting name="RegCode" serializeAs="String">
    <value>4TheKids</value>
   </setting>
   <setting name="NewsCountFront" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="TruncateNews" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="TruncateNewsFront" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="NewsCount" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="AddSocialLinks" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SocialLinks" serializeAs="String">
    <value>&lt;div class="fb-like" data-href="{0}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"&gt;&lt;/div&gt;</value>
   </setting>
   <setting name="SiteName" serializeAs="String">
    <value>Technically Learning</value>
   </setting>
  </TLWebsite2011.Properties.Settings>
 </applicationSettings>
</configuration>
